<template name="nav">
    <!-- <p class="bs-component">
       
        <a href="/sections" class="btn btn-primary">Sections</a>
        <a href="javascript:void(0)" class="btn btn-success">Rooms</a>
        <a href="javascript:void(0)" class="btn btn-info">People</a>
        
    </p>
	 -->
		
		<nav class="navbar navbar-default" role="navigation">
		  <div class="navbar-header">
		    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		    </button>    
		  </div>
		  <div class="navbar-collapse collapse">
		    <ul class="nav navbar-nav navbar-left">
				{{#if isInRole 'quizmaster'}}
				    
				{{/if}}

		  	  

		    </ul>
		    <ul class="nav navbar-nav navbar-right">
	   	  <li class="list-right main-nav-btn" role="presentation"><a  href="/help">Help</a></li>
	   	  <li class="list-right main-nav-btn" role="presentation"><a class="list-right" href="/logout">Logout</a></li>
		    </ul>
		  </div>
		</nav>
	
	
</template>

<template name="BottomNav">
<footer>
    <div class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="container">
            <div class="navbar-collapse collapse" id="footer-body">
                <ul class="nav navbar-nav">
 				   <li class="" role="presentation"><a href="/admin/games">Games</a></li>
				    <li class="" role="presentation"><a href="/admin/people">People</a></li>

                </ul>
	  		    <ul class="nav navbar-nav navbar-right">
	  	   	  <li class="list-right main-nav-btn" role="presentation"><a  href="/help">Help</a></li>
	  	   	  <li class="list-right main-nav-btn" role="presentation"><a class="list-right" href="/logout">Logout</a></li>
	  		    </ul>
            </div>
          	<div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#footer-body">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>

        </div>
    </div>
</footer>
</template>


<template name="ContestantBottomNav">
<footer>
    <div class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="container">
            <div class="navbar-collapse collapse" id="footer-body">
                <ul class="nav navbar-nav">
 				   <li class="" role="presentation"><a href="/scores">Scores</a></li>
                </ul>
	  		    <ul class="nav navbar-nav navbar-right">
	  	   	  <li class="list-right main-nav-btn" role="presentation"><a  href="/help">Help</a></li>
	  	   	  <li class="list-right main-nav-btn" role="presentation"><a class="list-right" href="/logout">Logout</a></li>
	  		    </ul>
            </div>
          	<div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#footer-body">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>

        </div>
    </div>
</footer>
</template>
